{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>任务文档列表</title>
    </head> 
    <body>
        {% csrf_token %}
        <h1>任务文档列表<h1>
        <a href="/assignment/{{id}}/file/add">上传任务文档</a>
        <table class="table">
            <thead calss="thead-dark">
                <tr>
                    <td scope="col">文档名</td>
                    <td scope="col">操作</td>
                </tr>
        </table>
       
        <tbody>
            {% for file in file_list %}
                <tr>
                    <td>{{ file.file_name }}</td>
                    <td>
                        <a href="/assignment/{{id}}/file/{{file.id}}/update">更新文档</a>
                        <a href="/assignment/{{id}}/file/{{file.id}}/delete">删除文档</a>  
                        <li><a href="{{file.file.url}}">下载</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </body>
</hmtl>