<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>日历</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="logo" href="/home/">
                    <img src="../static/img/layout_logo.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="true">{{ username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/account/">
                                    个人信息
                                </a>
                            </li>
                            <li><a data-toggle="modal" data-target="#change_password_modal">修改密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="change_password_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form id="password_change_form" enctype="multipart/form-data">
                        <div class="clearfix">
                            {% for field in changepwd_form%}
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>
                                        {{field.label}}
                                    </label>
                                    {{ field }}
                                    <span class="error-msg" style="color: red;"></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="ChangePassword" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-left">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
                <a href="/home/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    首页
                </a>
            </li>
            <li role="presentation">
                <a href="/account/">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                    账号
                </a>
            </li>
            <li role="presentation">
                <a href="/announce/">
                    <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                    通知
                </a>
            </li>
            <li role="presentation">
                <a href="/course/">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    课程
                </a>
            </li>
            <li role="presentation" class="active">
                <a href="/calendar/">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    日历
                </a>
            </li>
            <li role="presentation">
                <a href="/help/">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    帮助
                </a>
            </li>
        </ul>
    </div>
    <div class="contianer marginleft">
        <div class="calendar">
            <div class="header">
                <button class="lastYear" title="Last year" onclick="ReloadEvent();">&lt;&lt;</button>
                <button class="lastMonth" title="Last month" onclick="ReloadEvent();">&lt;</button>
                <div class="currentDate"></div>
                <button class="nextMonth" title="Next month" onclick="ReloadEvent();">&gt;</button>
                <button class="nextYear" title="Next year" onclick="ReloadEvent();">&gt;&gt;</button>
            </div>
            <div class="days">
                <div class="day">Mon</div>
                <div class="day">Tue</div>
                <div class="day">Wed</div>
                <div class="day">Thu</div>
                <div class="day">Fri</div>
                <div class="day">Sat</div>
                <div class="day">Sun</div>
            </div>
            <div class="dates">
                <!--<div class="date">1</div>
              <div class="date">2</div>
              <div class="date">3</div>
              <div class="date">4</div>
              <div class="date">5</div>
              <div class="date">6</div>
              <div class="date">7</div>
              <div class="date">8</div>
              <div class="date">9</div>
              <div class="date">10</div>
              <div class="date">11</div>
              <div class="date">12</div>
              <div class="date">13</div>
              <div class="date">14</div> -->
            </div>
        </div>
    </div>
    <div id="modals">
    </div>
</body>
<script src="../static/js/jquery-3.6.3.min.js"></script>
<script src="../static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
<script src="../static/js/calendar.js"></script>
<script src="../static/js/script.js"></script>
<script type="text/javascript">
    $(function () {
        ChangePasswordEvent();
        $('#calendar').calendar;
        AddDdlEvent();
    })
    function ChangePasswordEvent() {
        $("#ChangePassword").click(function () {
            //清除错误信息
            $(".error-msg").empty();
            $.ajax({
                url: "/password/change",
                type: "post",
                data: $("#password_change_form").serialize(),
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        alert("密码修改成功");
                        //清空表单
                        $("#password_change_form")[0].reset();
                        //关闭对话框
                        $("#change_password_modal").modal('hide');

                    } else {
                        $.each(res.error, function (name, errorlist) {
                            $("#id_" + name).next().text(errorlist[0]);
                        })
                    }
                }

            })
        });
    }
    function AddDdlEvent() {
        $.ajax({
            url: "/remind/",
            type: "get",
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    for (var i = 0; i < res.count; i++) {
                        var pos = document.querySelector("button[title='" + res.ddls[i] + "']");
                        if (pos.hasAttribute("data-target")) {
                            console.log("1");
                            $("#"+res.ddls[i]+"Body").append("<li><a href=\""+ res.urls[i] +"\">"+res.names[i]+"</a></li>");
                        }
                        else {
                            console.log("2");
                            pos.setAttribute("data-toggle", "modal" );
                            pos.setAttribute("data-target", "#"+res.ddls[i]+"Modal");
                            pos.append("查看任务");
                            var modal = "<div class=\"modal fade\" id=\""+res.ddls[i]+"Modal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\"><div class=\"modal-dialog\" role=\"document\"><div class=\"modal-content\"><div class=\"modal-header\"><button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button><h4 class=\"modal-title\" id=\"myModalLabel\">"+res.ddls[i]+"</h4></div><div class=\"modal-body\" id=\""+res.ddls[i]+"Body\"><li><a href=\""+res.urls[i]+"\">"+res.names[i]+"</a></li></div><div class=\"modal-footer\"><button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button></div></div></div></div>"
                            $("#modals").append(modal);
                        }

                    }
                }
            }
        })
    }
    function ReloadEvent(){
        AddDdlEvent();
    }
</script>
</hmtl>