{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>登录</title> 
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.css">
   
</head>

<body>
    <div class="login-bg-image"></div>
    <div class="container clearfix">
        <div class="loginbox">
            <h1>
                <img src="../static/img/logo.png">
            </h1>
            <div class="content">
                <h2 class="wordstyle">登录</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="wordstyle left">用户名:</label>
                        {{ form.username }}
                        <span class="error-msg" style="color: red;"> {{ form.username.errors.0 }}</span>
                    </div>

                    <div class="form-group">
                        <label class="wordstyle left">密码:</label>
                        {{ form.password }}
                        <span class="error-msg" style="color: red;">{{ form.password.errors.0 }}</span>
                    </div>

                    <!--<div class="form-group">
                        <div>
                            <label class="wordstyle left">图片验证码：</label>
                        </div>
                        <div class="row">
                            <div class="col-md-4 ">
                                {{ form.code }}
                            </div>
                            <div class="col-md-4" style="padding-left: 0px;">
                                <img id='image_code' src="/image/code/" onclick="Reload();">
                            </div>                          
                        </div>  
                        <span class="error-msg" style="color: red;">{{ form.code.errors.0 }}</span>
                    </div>-->

                    <input type="submit" value="登录" class="btn btn-primary buttonstyle">
                </form>
            </div>
        </div>
    </div>
</body>
<script src="../static/js/jquery-3.6.3.min.js"></script>
<script src="../static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
<script>
    function Reload(){
        //location.reload("true");
        var img = document.getElementById('image_code');
        img.src = "{% url 'image_code' %}?t=" + new Date().getTime();
    }
</script>
</hmtl>